<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!-- Add this repository to the list of available repositories -->
        <add key="dotnet core ci feed" value="https://dotnetfeed.blob.core.windows.net/dotnet-core/index.json" />
    </packageSources>
</configuration>
